@import "common.less";

@dark-default1: darken(@bg-default, 25%);

a {
	color: @default;
}

body {
	padding-top: 55px;
}

.table, .table thead, .table tbody, .table th, .table td {
	border-color: #ddd !important;
}

.table {
	width: 100% !important;

    thead {
    	background: @bg-default;
    }

    td {
	    padding: 8px 10px;
	    max-width: 300px;
	    overflow: hidden;
	    word-wrap: break-word;
	}

	.fa, .glyphicon {
		padding: 0px 5px;
	}
}

.table-responsive {
    padding: 5px;
    margin: -5px;
}

.dataTables_wrapper {
	.dataTables_filter {
	    margin-bottom: 20px;

		input {
			border: solid 1px @dark-default1;
		    padding: 5px 10px;
		    font-weight: 100;
		    border-radius: 5px;
		}
	}

	.dataTables_length select {
	    padding: 5px;
	}
}

#header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

.page-header {
    margin: 0;
    padding: 15px 0;
    position: relative;
    text-align: left;
    font-size: 14px;
    background: #333;
    min-height: 55px;

	.page-header-title {
		position: absolute;
	    top: 0;
	    height: 100%;
	    border-bottom: solid 5px @primary;
	    line-height: 45px;
	    padding: 5px 20px;
	    font-size: 18px;
	    color: @bg-default;
	}

	.breadcrumb {
		a:hover {
			color: lighten(@default, 25%);
			text-decoration: none;
		}
	}
}

.content-wrapper {
    min-height: ~"calc(100% - 220px)";
}

textarea.form-control {
	height: 100px;
}