html,
body,
.full-height {
  height: 100%;
}
.text-inverse {
  color: #999 !important;
}
.text-inverse:hover {
  color: #eee !important;
}
.nowrap {
  white-space: nowrap;
}
.no-decoration {
  text-decoration: none !important;
}
.bg-none {
  background: none;
}
.hover-sibling + .show-child {
  display: none;
}
.hover-sibling:hover + .show-child,
.hover-sibling + .show-child:hover {
  display: block;
}
.hover-parent .show-child {
  display: none;
}
.hover-parent:hover .show-child {
  display: block;
}
.absolute-thumb {
  overflow: hidden;
  height: 370px;
}
.absolute-thumb img {
  width: 100%;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.border-default {
  border: solid 1px #eee;
}
a {
  color: #999;
}
body {
  padding-top: 55px;
}
.table,
.table thead,
.table tbody,
.table th,
.table td {
  border-color: #ddd !important;
}
.table {
  width: 100% !important;
}
.table thead {
  background: #eee;
}
.table td {
  padding: 8px 10px;
  max-width: 300px;
  overflow: hidden;
  word-wrap: break-word;
}
.table .fa,
.table .glyphicon {
  padding: 0px 5px;
}
.table-responsive {
  padding: 5px;
  margin: -5px;
}
.dataTables_wrapper .dataTables_filter {
  margin-bottom: 20px;
}
.dataTables_wrapper .dataTables_filter input {
  border: solid 1px #aeaeae;
  padding: 5px 10px;
  font-weight: 100;
  border-radius: 5px;
}
.dataTables_wrapper .dataTables_length select {
  padding: 5px;
}
#header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}
.page-header {
  margin: 0;
  padding: 15px 0;
  position: relative;
  text-align: left;
  font-size: 14px;
  background: #333;
  min-height: 55px;
}
.page-header .page-header-title {
  position: absolute;
  top: 0;
  height: 100%;
  border-bottom: solid 5px #a7212a;
  line-height: 45px;
  padding: 5px 20px;
  font-size: 18px;
  color: #eee;
}
.page-header .breadcrumb a:hover {
  color: #d9d9d9;
  text-decoration: none;
}
.content-wrapper {
  min-height: calc(100% - 220px);
}
textarea.form-control {
  height: 100px;
}
/** Your code goes here */
